<div ng-controller="analisisController" >
	Filtrar: 
	<div class="input-group" ng-init="analisisList=getAnalisis(1)">
		<input  class="form-control" type="text" ng-model="criterio" placeholder="Ingrese el codigo o nombre del estudio"/> 
		<span class="btn btn-info input-group-addon" id="basic-addon2" ng-click="findAnalisisByName(criterio)" ng-disabled="isEmpty(criterio)">Buscar</span>
   </div>
	
	<table class="table table-striped">
		<thead>
		 <tr>
				<td>Codigo</td>
				<td>Determinaciones</td>
				<td>Unidad</td>
				<td>Valor</td>
			</tr>
		</thead>
		<tbody ng-repeat="analisis in analisisList">
			<tr>
				<td>{{analisis.codigo}}</td>
				<td>{{analisis.determinaciones}}</td>
				<td>{{analisis.unidad}}</td>
				<td>{{analisis.valor}}</td>
				<!--<td><a href ng-click="#row($index)" data-toggle="collapse" data-target="#row{{$index}}"><span class="glyphicon glyphicon-pencil"></span></a></td>-->
				<td><button ng-click="#row($index)" class="btn btn-xs  btn-info" data-toggle="collapse" data-target="#row{{$index}}">Editar</button></td>
				
			</tr>
			<tr id="row{{$index}}" class="collapse">
				<td colspan="5">
					<table>
					<tbody>
								<tr>
								    <td>DETERMINACIONES</td>
									<td><input class="form-control" type="text" ng-model="analisis.determinaciones" placeholder="determinaciones"/></td>
								</tr>
								<tr>
									<td>UNIDAD</td>
									<td><input class="form-control" type="text" ng-model="analisis.unidad" placeholder="unidad"/></td>
								</tr>
								<tr>
									<td>PRECIO</td>
									<td><input class="form-control" type="text" ng-model="analisis.valor" placeholder="valor"/></td>
								</tr>
								<tr>
								<td>MUESTRA</td>
								<td><select ng-controller="muestraMetodoController" style="width:200px;font-size:12px" class="btn dropdown-toggle selectpicker btn-default" ng-options="muestra.nombre as muestra.nombre for muestra in muestras" required class="form-control" id="muestra"  ng-model="analisis.muestraDefault">
									<option ng-value={{muestra.nombre}}>{{muestra.nombre}}</option>
								</select></td>
								</tr>
								<tr>
								<td>METODO</td>
								<td><select ng-controller="muestraMetodoController" style="width:200px;font-size:12px" class="btn dropdown-toggle selectpicker btn-default" ng-options="metodo.nombre as metodo.nombre for metodo in metodos" required class="form-control" id="metodo"  ng-model="analisis.metodoDefault">
									<option ng-value={{metodo.nombre}}>{{metodo.nombre}}</option>
								</select></td>
								</tr>
								<tr>
								<td>ACEPTA MULTIPLES VALORES</td>
								<td><input class="form-control" ng-checked="analisis.multiple" type="checkbox" placeholder="valor"/></td>
								</tr>
								
							
							<tr>
				
								<td>
								<div class="dropdown">
									 <div class='btn-group'>
									
									 <!-- Configurar el botón dropdown -->
									
									<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Formula...
									<span class="caret"></span></button>
										<!-- Configurar el botón dropdown -->
									 
									 <!-- Lista de opciones -->
									<ul class="dropdown-menu">
									<li class="dropdown-header"></li>
									<li>
									<table class='table' ng-repeat="formula in analisis.formula track by $index">
									<tr><td></td>
									<td style="text-align: right">
									<table>
									<tbody >
									<td><input style="border-radius: 10px 10px" type="text"  ng-model="formula.nombre" ng-click="$event.stopPropagation()" />
									
									</td>
									<td><input style="border-radius: 10px 10px" type="text"  ng-model="formula.unidad" ng-click="$event.stopPropagation()" />
									
									</td>
									</tbody>
									</table>
									</td>
									

									</tr>
									 
									</table>

									</li>
									
									</div>
								  </div>		   
							</td>
							<td><input style="border-radius: 10px 10px" type="text" placeholder="Nombre" ng-model="nameformula" ng-click="$event.stopPropagation()" /></td>
							<td><input style="border-radius: 10px 10px" type="text" placeholder="Unidad" ng-model="unidadformula" ng-click="$event.stopPropagation()" /></td>
							<td><button ng-click="agregarFormula(nameformula,unidadformula,analisis)" class="btn btn-xs  btn-info" data-toggle="collapse" >Agregar Formula!</button></td>
		
							</tr>
							<tr>
							<td>
								<div class="input-group">
								<input class="form-control" name="newReferenceValue" required type="text" style="width:400px" ng-model="nuevoValorReferencia" placeholder="Rango de referencia"/>
								<span type="button" class="btn btn-info input-group-addon" ng-disabled="nuevoValorReferencia == undefined"  ng-click="addValorReferencia(analisis,nuevoValorReferencia)">+</span>	
								</div>
							</td>
							</tr>
							
							<tr>
							<!--<td><select style="width:200px" class="btn dropdown-toggle selectpicker btn-default" ng-options="vr as vr for vr in analisis.valorReferencia" ng-model="vr">
									<option ng-value={{vr}}>{{vr}}</option>
									
								</select></td>-->
								<td>
								<table class="table table-bordered table-striped"  >
									<tbody ng-repeat="vr in analisis.valorReferencia track by $index">
									<td ><input style="border-radius: 10px 10px;width:500px" type="text" ng-model="analisis.valorReferencia[$index]"  /></td>
									<td><button ng-click="deleteValorReferencia(analisis,$index)" class="btn btn-xs  btn-danger" data-toggle="collapse" >Eliminar!</button></td>
									</tbody>
								</table>
								</td>
							</tr>
							
							<tr>
							    <td></td>
								<td><button type="button" class="btn btn-primary" ng-click="updateAnalisis(analisis)" data-toggle="collapse" data-target="#row{{$index}}">Guardar</button></td>
							</tr>
							
						</tbody>
					</table>
				
				</td>		
			</tr>
			
			
			
		</tbody>
	</table>
	
	
	 <ul uib-pagination class="pull-center" total-items="totalItems" items-per-page="page" ng-model="currentPage" previous-text="Anterior" next-text="Siguiente" ng-change="analisisList=getAnalisis(currentPage)" ></ul> 
	</div>
</div>
