
<h4><b>ESTADISTICAS</b></h4>
<br/>
<div ng-controller="estadisticasController" >

 <!--<div class="form-group row">
    <label  for="fechaDesde">Fecha Desde:</label>
	<input type="date"  id="fechaDesde" class="form-control"  ng-model="fechaDesde">
  </div>
   <div class="form-group row">
    <label  for="fehcaHasta">Fecha Hasta:</label>
	<input type="date"  id="fechaHasta" class="form-control"  ng-model="fechaHasta">
  </div>-->

<div class="col-lg-6 col-md-6" >
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#337ab7;color:#FFFFFF"><b>CANTIDAD DE PEDIDOS POR MEDICO</b></div>                    
	<div class="panel-body" style="max-height:450px; overflow-y:scroll">

	<table class="table table-striped" >

		<thead>
		 <tr>
				<!--<td>Numero</td>-->
				<td>Medico</td>
				<td>Cantidad</td>
				
			</tr>
		</thead>
		<tbody  ng-repeat="pedido in pedidosPorMedico"  >
			<tr>
				<!--<td>{{pedido.numero}}</td>-->
				<td>{{pedido._id.nombre}}</td>
				<td>{{pedido.count}}</td>
				
			</tr>
		</tbody>	
		<tr>
				<td><b>TOTAL PEDIDOS</b></td>
				<td><b>{{getTotalPedido()}}</b></td>
			</tr>
	</table>
</div>
</div>
</div>

	
<div class="col-lg-6 col-md-6" >
<div class="panel panel-default">
  <div class="panel-heading" style="background-color:#5cb85c;color:#FFFFFF"><b>CANTIDAD DE PEDIDOS POR ESTUDIO</b></div>                    
	<div class="panel-body" style="max-height:450px; overflow-y:scroll">
	<table class="table table-striped" >

		<thead>
		 <tr>
				<!--<td>Numero</td>-->
				<td>Estudio</td>
				<td>Cantidad</td>
				
			</tr>
		</thead>
		<tbody  ng-repeat="pedido in pedidosPorAnalisis" >
			<tr>
				<!--<td>{{pedido.numero}}</td>-->
				<td>{{pedido._id.determinaciones}}</td>
				<td>{{pedido.count}}</td>

				
			</tr>
		</tbody>			
	</table>
</div>
</div>
</div>

<div class="col-lg-6 col-md-6" >
<div class="panel panel-default">
  <div class="panel-heading" style="background-color:#f0ad4e;color:#FFFFFF"><b>CANTIDAD DE PEDIDOS POR DIAGNOSTICO</b></div>                    
	<div class="panel-body" style="max-height:450px; overflow-y:scroll">

	<table class="table table-striped">
	<caption><b></b></caption>
		<thead>
		 <tr>
				<!--<td>Numero</td>-->
				<td>Diagnostico</td>
				<td>Cantidad</td>
				
			</tr>
		</thead>
		<tbody ng-repeat="pedido in pedidosPorDiagnostico" >
			<tr>
				<!--<td>{{pedido.numero}}</td>-->
				<td>{{pedido._id}}</td>
				<td>{{pedido.count}}</td>

				
			</tr>
		</tbody>
		
	</table>
</div>
</div>
</div>


<div class="col-lg-6 col-md-6" >
<div class="panel panel-default">
  <div class="panel-heading" style="background-color:#d9534f;color:#FFFFFF"><b>CANTIDAD DE PEDIDOS POR OBRA SOCIAL</b></div>                    
	<div class="panel-body" style="max-height:450px; overflow-y:scroll">
	<table class="table table-striped">
		<thead>
		 <tr>
				<!--<td>Numero</td>-->
				<td>Obra Social</td>
				<td>Cantidad</td>
				
			</tr>
		</thead>
		<tbody ng-repeat="pedido in pedidosPorObraSocial" >
			<tr>
				<!--<td>{{pedido.numero}}</td>-->
				<td>{{pedido._id}}</td>
				<td>{{pedido.count}}</td>
				<!--<td><button  ng-click="selectPedido(pedido)" class="btn btn-xs  btn-info" data-target="#myModal" data-toggle="collapse">Ver Protocolos</button></td>-->

			</tr>
		</tbody>
		
	</table>
</div>
</div>
</div>

	
		<!--<div class="modal fade" id="myModal" role="dialog" >
					<div class="modal-dialog">
				
					  <div class="modal-content" >
						<div class="modal-body">
				
						</div>
							<pre style="preStyle">
							{{pedidoObraSocialSelected.protocolo}}
							</pre>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-toggle="collapse">Cancelar</button>
						</div>
					  </div>
					  
					</div>
				  </div>-->


  
</div>


