<div ng-controller="estadisticasController" >
<div ng-include="'header.html'"></div>


<div class="form-group row">
    <label  for="tipo">Mes:</label>
    <select class="form-control" id="mes" ng-model="mesNumero" ng-change="getPedidosPorMes(mesNumero, anio)">
	  <option ng-selected="mesNumero == 1" ng-value="1">Enero</option>
	  <option ng-selected="mesNumero == 2" ng-value="2">Febrero</option>
	  <option ng-selected="mesNumero == 3" ng-value="3">Marzo</option>
	  <option ng-selected="mesNumero == 4" ng-value="4">Abril</option>
	  <option ng-selected="mesNumero == 5" ng-value="5">Mayo</option>
	  <option ng-selected="mesNumero == 6" ng-value="6">Junio</option>
	  <option ng-selected="mesNumero == 7" ng-value="7">Julio</option>
      <option ng-selected="mesNumero == 8" ng-value="8">Agosto</option>
	  <option ng-selected="mesNumero == 9" ng-value="9">Septiembre</option>
	  <option ng-selected="mesNumero == 10"  ng-value="10">Octubre</option>
	  <option ng-selected="mesNumero == 11" ng-value="11">Noviembre</option>
	  <option ng-selected="mesNumero == 12" ng-value="12">Diciembre</option>
     </select>
  </div>
  
  <div class="form-group row">
    <label  for="tipo">Año:</label>
    <select class="form-control" id="anio" ng-model="anio" ng-change="getPedidosPorMes(mesNumero, anio)">
	  <option>2017</option>
	  <option>2018</option>
	  <option>2019</option>
      <option>2020</option>
     </select>
  </div>

<div class="col-lg-6 col-md-6" >
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#a10684;color:#FFFFFF"><b>{{pedidosNuevosCount}}  PEDIDOS DURANTE EL MES</b></div>                    
	<div class="panel-body" style="max-height:450px; overflow-y:scroll">

	<table class="table table-striped" >

		<thead>
		 <tr>
				<!--<td>Numero</td>-->
				<td>Protocolo</td>
				<td>Paciente</td>
					<td>Medico</td>
			</tr>
		</thead>
		<tbody  ng-repeat="pedido in pedidosNuevos"  >
			<tr>
				<!--<td>{{pedido.numero}}</td>-->
				<td>{{pedido.protocolo}}</td>
				<td>{{pedido.paciente.apellido}}, {{pedido.paciente.nombre}}</td>
				<td>{{pedido.medico.nombre}}</td>
				
			</tr>
		</tbody>	
	</table>
</div>
</div>
</div>

	
  
</div>


