<div ng-include="'header.html'"></div>
<div class="container" ng-controller="muestraMetodoController">
	<div>
	<form>
	<div >
	  <input type="text" class="form-control" placeholder="Matricula del nuevo medico"  ng-model="medico.matricula">
	  <input type="text" class="form-control" placeholder="Nombre y Apellido del nuevo medico"  ng-model="medico.nombre">
	  <input type="text" class="form-control" placeholder="Teléfono del nuevo medico" ng-model="medico.telefono">
	  <button class="btn btn-sm btn-info " id="basic-addon2" ng-click="createMedico()">Agregar</button>
	</div>
	</form>
	</div>
	Filtrar: <input class="form-control" type="text" ng-model="criterio"/> <br/>
	<table class="table table-striped ani">
		<thead>
				<td>#</td>
				<td>Matrícula</td>
				<td>Nombre</td>
				<td>Teléfono</td>
				
		</thead>
		<tbody ng-repeat="medico in medicosList | filter:criterio">
			<tr>
				<td>{{$index+1}}</td>
				<td>{{medico.matricula}}</td>
				<td>{{medico.nombre}}</td>
				<td>{{medico.telefono}}</td>
				<td><button class="btn btn-xs  btn-info" data-toggle="collapse" data-target="#row{{$index}}">Editar</button><td>
			</tr>
		
		
		<tr id="row{{$index}}"  class="collapse" >
				<td colspan="12">
					<table class="table table-responsive"> 

					<tbody >
						
					<tr><td>Matrícula:</td><td><input placeholder="Matrícula"  class="form-control" type="text" ng-model="medico.matricula"/></td></tr>
					<tr><td>Nombre:</td><td><input placeholder="Nombre"  class="form-control" type="text" ng-model="medico.nombre"/></td></tr>
					<tr><td>Teléfono:</td><td><input placeholder="Teléfono"  class="form-control" type="text" ng-model="medico.telefono"/></td></tr>
					<tr><td></td><td><button class="btn btn-info" ng-click="updateMedico(medico)">Guardar</button></td></tr>

			</tbody>
			</table>
			</td>
		
		</tr>
		</tbody>
	</table>
	</div>
</div>