<div ng-include="'header.html'"></div>
<div class="container" ng-controller="pedidoController" ng-init="getPedidosCreados()" >
 <a href="#pedido"><span class="btn btn-primary pull-right">Nuevo Pedido</span></a>
 <h4><b>LISTA DE PEDIDOS CREADOS</b></h4>
	<br/>
	<!--Filtrar: <input class="ani" type="text" ng-model="criterio"/> <br/>-->
	<table class="table table-striped">
		<thead>
		 <tr>
				<!--<td>Numero</td>-->
				<td>Fecha</td>
				<td>Estado</td>
				<td>Paciente</td>
				<td>Diagnostico</td>
			</tr>
		</thead>
		<tbody ng-repeat="pedido in pedidosCreadosList" >
			<tr>
				<!--<td>{{pedido.numero}}</td>-->
				<td>{{pedido.fechaModified}}</td>
				<td>{{pedido.estado}}</td>
				<td>{{pedido.paciente.apellido}}, {{pedido.paciente.nombre}}</td>
				<td>{{pedido.diagnostico}}</td>
				<td><button ng-click="#row($index)" class="btn btn-xs  btn-info" data-toggle="collapse" data-target="#row{{$index}}">Editar</button></td>
				<td><button ng-click="generatePDFExtraccion(pedido)" class="btn btn-xs  btn-info" data-toggle="collapse" >Ver Informe</button></td>
				<td><button ng-click="updateEstadoPedido(pedido._id,'Abierto')" class="btn btn-xs  btn-info" data-toggle="collapse" >Procesar</button></td>
				<td><button ng-click="confirmCambiarEstado(pedido,'Invalido')" class="btn btn-xs  btn-info" data-toggle="collapse" data-target="#row{{$index}}">Invalidar</button></td>

			</tr>
			<tr id="row{{$index}}" class="collapse" >
			
				<td colspan="10">

					<table class="table table-responsive" style="font-family: Verdana;font-size:12px;">
						
					<tbody>
						<tr>
		
							<td><input class="form-control" name="newReferenceValue" required type="text" style="width:400px" ng-model="nuevoValorReferencia" placeholder="Analisis"/></td>

						</tr>

						<tr>
							<table class="table table-responsive">
								<tbody ng-repeat="lab in pedido.analisisList track by $index" ng-init="rowIndex=$index">
									<td>{{$index +1}}</td>
									<td>{{lab.analisis.codigo}}</td>
									<td>{{lab.analisis.determinaciones}}</td>
									<!--<td><button ng-click="physicalRemoveAnalisis(pedido._id,lab.analisis._id)" class="btn btn-xs  btn-danger" data-toggle="collapse" >Eliminar!</button></td>-->
								</tbody>
							</table>
						</tr>
						
					</tbody>
					
					</table>
					
					
				</td>
			</tr>
		</tbody>			
	</table>
	
	
	<div class="modal fade" id="finanzas" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title"></h4>
						</div>
						<div class="modal-body" ng-controller="finanzaController">
						<form data-toggle="validator" role="form" class="" ng-keypress="keyPressOnForm($event)">
							<div >
							  <div class="form-group row">
								<label  for="pedido">Pedido:</label>
								<input autocomplete="off" type="text"  class="form-control" id="pedido" editable="false" ng-model="pedidoFinanza.protocolo">
							 </div>
							   <div class="form-group row">
								<label  for="paciente">Paciente:</label>
								<input autocomplete="off" type="text"  class="form-control" id="paciente" editable="false"/>{{pedidoFinanza.paciente.apellido}}, {{newFinanza.pedido.paciente.nombre}}
							  </div>
							  
							  <div class="form-group row">
								<label  for="obrasocial">Obra Social:</label>
								<input autocomplete="off" type="text"  class="form-control" id="obrasocial" editable="false" ng-model="pedidoFinanza.obrasocial">
							  </div>
							   <div class="form-group row">
								<label  for="costo">Costo:</label>
								<input autocomplete="off" type="text"  class="form-control"  ng-model="newFinanza.costo" id="costo">
							  </div>
							   <div class="form-group row">
								<label  for="pago">Pago:</label>
								<input autocomplete="off" type="text"  class="form-control"  ng-model="newFinanza.pago" id="pago">
							  </div>

								<div class="form-group row">
								<label class="control-label" for="obrasocial" >Autorizado:</label>
								<div id="autorizado" >
									
									<select class="form-control" ng-model="newFinanza.autorizado" >
										<option>SI</option>
										<option>NO</option>
								  </select>
								</div>
								</div>
							 <hr style="border:1px dotted black;"></hr>
							  <div class="form-group row">
								<label  for="gastos">Gastos:</label>
								<input autocomplete="off" type="text"  class="form-control" id="gastos"  ng-model="newFinanza.gasto">
							  </div>
							  
							  <div class="form-group row">
								<label  for="motivo">Motivo:</label>
								<input autocomplete="off" type="text"  class="form-control" id="motivo"  ng-model="newFinanza.motivo">
							  </div>
								
							  <div class="form-group row">
								<label  for="aporte">Aporte:</label>
								<input autocomplete="off" type="text"  class="form-control" id="aporte"  ng-model="newFinanza.aporte">
							  </div>
								
							  <div class="form-group row">
								<label  for="egreso">Egreso:</label>
								<input autocomplete="off" type="text"  class="form-control" id="egreso"  ng-model="newFinanza.egreso">
							  </div>
							  
							</form>
						</div>
							
								
						<div class="modal-footer">
						  <button type="button" class="btn btn-info" ng-click="createFinanza(pedidoFinanza)" data-dismiss="modal">Guardar</button>
						</div>
					  </div>
					  
					</div>
				  </div>
  
 </div>
	
	
	
<div class="modal fade" id="finanzas1" role="dialog" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
<form data-toggle="validator" role="form" class="" ng-keypress="keyPressOnForm($event)">
<div ng-controller="pedidoController">
  <div class="form-group row">
    <label  for="pedido">Pedido:</label>
    <input autocomplete="off" type="text"  class="form-control" id="pedido" editable="false" ng-model="pedidoFinanza.protocolo">
 </div>
   <div class="form-group row">
    <label  for="paciente">Paciente:</label>
    <input autocomplete="off" type="text"  class="form-control" id="paciente" editable="false"/>{{pedidoFinanza.paciente.apellido}}, {{pedidoFinanza.paciente.nombre}}
  </div>
  
  <div class="form-group row">
    <label  for="obrasocial">Obra Social:</label>
    <input autocomplete="off" type="text"  class="form-control" id="obrasocial" editable="false" ng-model="pedidoFinanza.obrasocial">
  </div>
   <div class="form-group row">
    <label  for="costo">Costo:</label>
    <input autocomplete="off" type="text"  class="form-control" id="costo">
  </div>
   <div class="form-group row">
    <label  for="pago">Pago:</label>
    <input autocomplete="off" type="text"  class="form-control" id="pago">
  </div>

	<div class="form-group row">
	<label class="control-label" for="obrasocial">Autorizado:</label>
	<div id="autorizado" >
		
		<select class="form-control" ng-model="autorizado" >
			<option>SI</option>
			<option>NO</option>
      </select>
	</div>
	</div>
 <hr style="border:1px dotted black;"></hr>
  <div class="form-group row">
    <label  for="gastos">Gastos:</label>
    <input autocomplete="off" type="text"  class="form-control" id="gastos" ng-model="newPedido.diagnostico">
  </div>
  
  <div class="form-group row">
    <label  for="motivo">Motivo:</label>
    <input autocomplete="off" type="text"  class="form-control" id="motivo" ng-model="newPedido.diagnostico">
  </div>
    
  <div class="form-group row">
    <label  for="aporte">Aporte:</label>
    <input autocomplete="off" type="text"  class="form-control" id="aporte" ng-model="newPedido.diagnostico">
  </div>
    
  <div class="form-group row">
    <label  for="egreso">Egreso:</label>
    <input autocomplete="off" type="text"  class="form-control" id="egreso" ng-model="newPedido.diagnostico">
  </div>
  
  <a href="#/pedidos-creados" type="submit" style="float:right" class="btn btn-primary" ng-click="createPedido()">Guardar</a>

</form>
</div>
</div>

</div>
<div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
</div>
</div>

</div>


