<!--<HTML>
<HEAD>
	<TITLE>Listado de Examenes</TITLE>
	<script src="js/angular.min.js"></script>

	
	<!-- jQuery library 
	<link rel="stylesheet" href="js/jquery-2.1.3.js">
	<META http-equiv=Content-Type content="text/html; charset=windows-1252">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- Latest compiled JavaScript
	<script src="js/main.js"></script>
</HEAD>
<body>
<!--BODY ng-app="MainApp" ng-controller="pacienteController">-->
<div class="container" ng-app="MainApp" ng-controller="pedidoController">
<div>
<form data-toggle="validator" role="form"> 
<div ng-controller="pacienteController">
 <div class="form-group row" >
  <label  for="paciente">Paciente:</label>
   <input type="text" class="form-control" ng-model="pacienteSelected" id="paciente" placeholder="Ingrese el nombre del paciente..."/>
		<div class="form-group row" ng-show="!isEmpty(pacienteSelected)">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody ng-repeat="paciente in pacienteList | filter:pacienteSelected">
				<tr>
					<td>{{paciente.nombre}}</td>
					<td>{{paciente.apellido}}</td>
					<td><a href ng-click="agregarPaciente(paciente)" ng-model="newPedido.paciente" data-toggle="collapse"><span class="glyphicon glyphicon-plus"></span></a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

</div> 
 <!--<div class="form-group row">
	<label class="control-label" for="obrasocial">Obra Social/Prepaga:</label>
		  <div class="form-group">
			<input readonly style="background-color:rgba(126, 203, 235,0.15)" type="text" id="obrasocial"  maxlength="40" ng-model="pacienteSelectedAfiliado" class="form-control"/>
		 </div>
	</div>
</div> 	-->

 <!--<div class="form-group row" ng-show="obraSocialPacienteSelected !=null">
 <label class="control-label" for="obrasocial">Obra Social:</label>
 <div id="obrasocial">
 <table class="table table-striped">
    <thead>
		
	</thead>
	<tbody ng-repeat="ob in obraSocialPacienteSelected" >
		
	<tr>
		<td><input type="checkbox" ng-select="selectObraSocial(ob)" value="os" name="op"></td>
		<td>{{ob.obraSocial}}</td>
		<td>{{ob.afiliado}}</td>
	</tr>
	</tbody>
  </table>
</div>
</div>-->

	<div class="form-group row" ng-show="obraSocialPacienteSelected !=null">
	<label class="control-label" for="obrasocial">Obra Social:</label>
	<div id="obrasocial" >
		
		<select class="form-control" ng-change="selectObraSocial(ob)" ng-options="ob.obraSocial for ob in obraSocialPacienteSelected"  ng-model="ob" >
       
      </select>
	</div>
	</div>

 	<div class="form-group row">
	<label class="control-label" for="derivador">Derivador:</label>
	  <div id="derivador" class="col-sm-10">
		<label class="radio-inline">
		  <input type="radio" ng-model="newPedido.derivador" value="Ambulatorio" name="optradio">Ambulatorio
		</label>
		<label class="radio-inline">
		  <input type="radio" ng-model="newPedido.derivador" value="Derivado" name="optradio">Derivado
		</label>
		<label class="radio-inline">
		  <input type="radio" ng-model="newPedido.derivador" value="Internado" name="optradio">Internado
		</label>
		<label class="radio-inline">
		  <input type="text" style="width:500px" maxlength="40" ng-model="newPedido.derivadorDescripcion" class="form-control">
		</label>
		</div>
			
	</div>
 
 
  <div class="form-group row" ng-controller="medicoController">
    <label  for="medico">Medico:</label>
	<input type="text" class="form-control" ng-model="medicoSelected" id="medico" placeholder="Ingrese el nombre/matricula del medico...">
    	<div class="form-group row" ng-show="!isEmpty(medicoSelected)">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody ng-repeat="medico in medicosList | filter:medicoSelected | limitTo:5">
				<tr>
					<td>{{medico.nombre}}</td>
					<td>{{medico.matricula}}</td>
					<td><a href ng-click="agregarMedico(medico)" ng-model="newPedido.medico" data-toggle="collapse"><span class="glyphicon glyphicon-plus"></span></a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
  </div>
  
  <div class="form-group row">
    <label  for="diagnostico">Diagnostico:</label>
    <input type="text"  class="form-control" id="diagnostico" ng-model="newPedido.diagnostico">
  </div>
 
 <div ng-controller="analisisController">
 <div class="form-group row"  >
        <label  class="control-label" for="analisis">Estudios:</label>
		
        <input type="text" class="form-control" ng-model="miFilter" id="analisis" placeholder="Ingrese el nombre/codigo del analisis...">
		<div class="form-group row" ng-show="!isEmpty(miFilter)">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody ng-repeat="lab in analisisList | filter:miFilter | limitTo:5">
				<tr>
					<td>{{lab.codigo}}</td>
					<td>{{lab.determinaciones}}</td>
					<td><a href ng-click="addAnalisis(lab)" data-toggle="collapse"><span class="glyphicon glyphicon-plus"></span></a>
				</tr>
				</tbody>
				</tbody>
			</table>
		</div>
	</div>
 

	<div class="form-group row">
	<label  class="control-label " for="analisisfilter"></label>
	
				<div class="panel panel-info" id="analisisfilter">
					<div class="panel-heading">
						<h3 class="panel-title">Listado de Estudios</h3>
					</div>
					<table class="table table-hover" >
						<thead>
							<tr>
								<th>Codigo</th>
								<th>Determinaciones</th>
							</tr>
						</thead>
						<tbody ng-repeat="an in analisisListFiltered track by $index">
							<tr>
								<td>{{an.codigo}}</td>
								<td>{{an.determinaciones}}</td>
								<td><button ng-click="removeAnalisis($index)" class="btn btn-xs  btn-danger" data-toggle="collapse">Eliminar!</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
 </div>
 
 
  <a href="#/pedidos-creados" type="submit" style="float:right" class="btn btn-primary" ng-click="createPedido()">Generar Pedido</a>
</form>
</div>
</div>
