<div  ng-controller="pedidoController" >
  <div ng-include="'header.html'"></div>
	Filtrar: <input  type="text" ng-model="criterio"/> <br/>
	<table class="table table-striped" ng-init="getPedidos()">
		<thead>
		 <tr>
				<td>Numero</td>
				<td>Fecha</td>
				<td>Paciente</td>
				<td>Estado</td>
				<td>Derivador</td>
			</tr>
		</thead>
		<tbody ng-repeat="pedido in pedidosList">
			<tr>
				<td>{{pedido.numero}}</td>
				<td>{{pedido.fecha}}</td>
				<td>{{pedido.paciente.apellido}}, {{pedido.paciente.nombre}}</td>
				<td>{{pedido.estado}}</td>
				<td>{{pedido.derivadorDescripcion}}</td>
				<td ><a href ng-click="findAnalysisByPedido(pedido.numero)" data-toggle="collapse" data-target="#row{{$index}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
			
			</tr>
			<tr id="row{{$index}}" class="collapse" >
				<td colspan="5">
					<table>
						<tbody ng-repeat="analysis in analysisByPedido">
						<tr>
							<td>{{analysis.analysis.codigo}} &nbsp;</td>
							<td>{{analysis.analysis.determinaciones}} &nbsp;</td>
							<td><input type="text" ng-model="analysis.valorHallado"/></td>
							
						</tr>
						</tbody>
						
					</table>
					
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>