<div ng-include="'header.html'"></div>
<h4><b>LISTA DE PEDIDOS PARA ENTREGAR</b></h4>
<br/>
<div ng-controller="pedidoController" ng-init="getPedidosParaEntregar()" >

	<!--Filtrar: <input class="ani" type="text" ng-model="criterio"/> <br/>-->
	<table class="table table-striped">
		<thead>
		 <tr>
				<!--<td>Numero</td>-->
				<td>Protocolo</td>
				<td>Fecha</td>
				<td>Estado</td>
				<td>Paciente</td>
				<td>Diagnostico</td>
			</tr>
		</thead>
		<tbody ng-repeat="pedido in pedidosCompletosList" >
			<tr>
				<!--<td>{{pedido.numero}}</td>-->
				<td>{{pedido.protocolo}}</td>
				<td>{{pedido.fechaModified}}</td>
				<td>{{pedido.estado}}</td>
				<td>{{pedido.paciente.apellido}}, {{pedido.paciente.nombre}}</td>
				<td>{{pedido.diagnostico}}</td>
	
				<td><button ng-click="#row($index)" class="btn btn-xs  btn-info" data-toggle="collapse" data-target="#row{{$index}}">Ver</button></td>
				<td><button ng-click="confirmEntregar(pedido,'Entregado')" class="btn btn-xs  btn-info" data-toggle="collapse" >Entregar</button></td>
				<td><button ng-click="confirmCambiarEstado(pedido,'Abierto')" class="btn btn-xs  btn-info" data-toggle="collapse" data-target="#row{{$index}}">Re Abrir</button></td>
				<td><button ng-click="confirmCambiarEstado(pedido,'Invalido')" class="btn btn-xs  btn-info" data-toggle="collapse" data-target="#row{{$index}}">Invalidar</button></td>

				<td><button ng-click="generatePDF(pedido,true)" class="btn btn-xs  btn-info" data-toggle="collapse" data-target="#row{{$index}}">Descargar Informe</button></td>
				
			</tr>
			<tr id="row{{$index}}" class="collapse" >
			   
				<td colspan="10">
				<table class="table table-responsive" style="font-family: Verdana;font-size:12px;">
						<thead>
					    <th>Imprimir</th>
						<th>Codigo</th>
						<th>Dosaje</th>
				
						</thead>
						<tbody ng-repeat="lab in pedido.analisisList track by $index" ng-init="rowIndex=$index">
						<tr>
						    <td><input type="checkbox"  class="checkbox checkbox-primary"  ng-model="lab.imprimir" ng-change="includeAnalysis(pedido._id,lab.analisis._id, lab.imprimir)"/>Imprimir</td>
							<td>{{lab.analisis.codigo}} &nbsp;</td>
							<td>{{lab.analisis.determinaciones}}&nbsp;</td>
							</tr>
						</tbody>
				</table>
				</td>
			</tr>
			
		</tbody>
	</table>
	</div>


