<!--<HTML>
<HEAD>
	<TITLE>Listado de Examenes</TITLE>
	<script src="js/angular.min.js"></script>

	
	<!-- jQuery library 
	<link rel="stylesheet" href="js/jquery-2.1.3.js">
	<META http-equiv=Content-Type content="text/html; charset=windows-1252">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- Latest compiled JavaScript
	<script src="js/main.js"></script>
</HEAD>
<body>
<!--BODY ng-app="MainApp" ng-controller="pacienteController">-->
<div ng-include="'header.html'"></div>
<div class="container" ng-controller="pedidoController">
<div>
<form data-toggle="validator" role="form" ng-keypress="keyPressOnForm($event)">
<div >

	<div class="form-group row">
			<label  for="fecha">Fecha de Recepci&oacuten: </label>
			<div class="input-group">
			<input type="date"  id="fecha" class="form-control"  ng-model="newPedido.fecha">
			</div>
	</div>
	<div class="form-group row" ng-controller="animalController" >
	 <div>
	  <label  for="animal">Animal:</label>
	  <div class="input-group">
			<input type="text" class="form-control" autocomplete="off" ng-model="nombreAnimal" id="animal" placeholder="Ingrese el NOMBRE..."/>
			<span class="btn btn-info input-group-addon" id="basic-addon2" ng-click="getAnimalsByName(nombreAnimal)" ng-disabled="isEmpty(nombre)">Buscar</span>
	   </div>
	   
		  
		<div class="form-group row" ng-show="!isEmpty(animalsFilteredList)">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody ng-repeat="animal in animalsFilteredList">
				<tr>
					<td>{{animal.nombre}}</td>
					<td>{{animal.tipo}}</td>
					<td>{{animal.raza}}</td>
					<td>{{animal.contacto}}</td>
					<td><a href ng-click="agregarAnimal(animal)" ng-model="newPedido.animal" data-toggle="collapse"><span class="glyphicon glyphicon-plus"></span></a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
	 <div class="form-group row" ng-controller="pacienteController" >
	  <label  for="paciente">Paciente:</label>
	  <div class="input-group">
			<input type="text" class="form-control" autocomplete="off" ng-model="nombrePaciente" id="paciente" placeholder="Ingrese el APELLIDO, NOMBRE o DOCUMENTO del paciente..."/>
			<span class="btn btn-info input-group-addon" id="basic-addon2" ng-click="pacienteListFilter=search()" ng-disabled="isEmpty(nombrePaciente)">Buscar</span>
	   </div>
		  
		<div class="form-group row" ng-show="!isEmpty(pacienteListFilter)">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody ng-repeat="paciente in pacienteListFilter">
				<tr>
					<td>{{paciente.nombre}}</td>
					<td>{{paciente.apellido}}</td>
					<td><a href ng-click="agregarPaciente(paciente)" ng-model="newPedido.paciente" data-toggle="collapse"><span class="glyphicon glyphicon-plus"></span></a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

</div> 
 <!--<div class="form-group row">
	<label class="control-label" for="obrasocial">Obra Social/Prepaga:</label>
		  <div class="form-group">
			<input readonly style="background-color:rgba(126, 203, 235,0.15)" type="text" id="obrasocial"  maxlength="40" ng-model="pacienteSelectedAfiliado" class="form-control"/>
		 </div>
	</div>
</div> 	-->

 <!--<div class="form-group row" ng-show="obraSocialPacienteSelected !=null">
 <label class="control-label" for="obrasocial">Obra Social:</label>
 <div id="obrasocial">
 <table class="table table-striped">
    <thead>
		
	</thead>
	<tbody ng-repeat="ob in obraSocialPacienteSelected" >
		
	<tr>
		<td><input type="checkbox" ng-select="selectObraSocial(ob)" value="os" name="op"></td>
		<td>{{ob.obraSocial}}</td>
		<td>{{ob.afiliado}}</td>
	</tr>
	</tbody>
  </table>
</div>
</div>-->

	<div class="form-group row" ng-show="obraSocialPacienteSelected !=null">
	<label class="control-label" for="obrasocial">Obra Social:</label>
	<div id="obrasocial" >
		
		<select class="form-control" ng-change="selectObraSocial(ob)" ng-options="ob.obraSocial for ob in obraSocialPacienteSelected"  ng-model="ob" >
       
      </select>
	</div>
	</div>

 	<div class="form-group row">
	<label class="control-label" for="derivador">Derivador:</label>
	  <div id="derivador" class="col-sm-10">
		<label class="radio-inline">
		  <input type="radio" ng-model="newPedido.derivador" value="Ambulatorio" name="optradio">Ambulatorio
		</label>
		<label class="radio-inline">
		  <input type="radio" ng-model="newPedido.derivador" value="Derivado" name="optradio">Derivado
		</label>
		<label class="radio-inline">
		  <input type="radio" ng-model="newPedido.derivador" value="Internado" name="optradio">Internado
		</label>
		<label class="radio-inline">
		  <input type="text" style="width:500px" maxlength="40" ng-model="newPedido.derivadorDescripcion" class="form-control">
		</label>
		</div>
			
	</div>
 
 
  <div class="form-group row" ng-controller="medicoController">
    <label  for="medico">Medico:</label>
	<!--<div class="input-group">
	  <input type="text" class="form-control" autocomplete="off" ng-model="medicoSelected" id="medico" placeholder="Ingrese el NOMBRE o MATRICULA del medico..." aria-describedby="basic-addon2" ng-model="muestra.nombre">
	  <a class="btn btn-info input-group-addon"  href="#/medicos">Crear Medico</a>
	</div>-->
	<input type="text" class="form-control" autocomplete="off" ng-model="medicoSelected" id="medico" placeholder="Ingrese el NOMBRE o MATRICULA del medico...">
    	<div class="form-group row" ng-show="!isEmpty(medicoSelected)">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody ng-repeat="medico in medicosList | filter:medicoSelected | limitTo:5">
				<tr>
					<td>{{medico.nombre}}</td>
					<td>{{medico.matricula}}</td>
					<td><a href ng-click="agregarMedico(medico)" ng-model="newPedido.medico" data-toggle="collapse"><span class="glyphicon glyphicon-plus"></span></a></td>
				</tr>
				</tbody>
			</table>
		</div>
  </div>
  
  <div class="form-group row">
    <label  for="diagnostico">Diagnostico:</label>
    <input type="text"  class="form-control" id="diagnostico" ng-model="newPedido.diagnostico">
  </div>
  
  
  <div ng-controller="analisisController" ng-keypress="keyPressOnForm($event)">
	<div class="form-group row" ng-controller="perfilController">
		<label class="control-label" for="perfil">Perfil:</label>
		<div id="perfil" ng-init="getPerfils()">
			<select class="form-control"  ng-change="searchAnalisis(p.nombre)" ng-options="p.nombre for p in perfils"  ng-model="p" >
		  </select>
		</div>
	</div>
	
	<!--<div ng-controller="analisisController">
		<div class="form-group row" ng-controller="perfilController">
			<label class="control-label" for="perfil">Perfil:</label>
			<div id="perfil" ng-init="getPerfils()" >
				<table >
				<tbody ng-repeat="p in perfils">
					
					<td><input type="checkbox" ng-model="p"/></td>
					<td>{{p.nombre}}</td>
				</tbody>
				</table>
			</div>
	</div>-->
	

 <div class="form-group row"  >
        <label  class="control-label" for="analisis">Estudios:</label>
		<div class="input-group">
			<input type="text" class="form-control" autocomplete="off"  ng-model="miFilter" id="analisis" ng-keyup="$event.keyCode == 13 ? addAnalisisByPressingEnter(miFilter):null" placeholder="Ingrese el NOMBRE o CODIGO del analisis...">
			<span class="btn btn-info input-group-addon" id="basic-addon2" ng-click="findAnalisisByName(miFilter)" ng-disabled="isEmpty(miFilter)">Buscar</span>
		</div>
		<div class="form-group row" ng-show="estudio!=null">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody ng-repeat="est in estudio" >
				<tr>
					<td>{{est.codigo}}</td>
					<td>{{est.determinaciones}}</td>
					<td><a href ng-click="addAnalisis(est)" data-toggle="collapse"><span class="glyphicon glyphicon-plus"></span></a>
				</tr>
				</tbody>
				</tbody>
			</table>
		</div>
	</div>
 

	<div class="form-group row" >
	<label  class="control-label " for="analisisfilter"></label>
	
				<div class="panel panel-info" id="analisisfilter">
					<div class="panel-heading">
						<h3 class="panel-title">Listado de Estudios</h3>
					</div>
					<table class="table table-hover" >
						<thead>
							<tr>
								<th>Codigo</th>
								<th>Determinaciones</th>
								<th>UB</th>
								<th>Costo Unitario</th>
								<th></th>
								<th>Costo Total</th>
								
							</tr>
						</thead>
						<tbody ng-repeat="an in analisisListFiltered track by $index">
							<tr>
								<td>{{an.codigo}}</td>
								<td>{{an.determinaciones}}</td>
								<td>{{an.UB}}</td>
								<td>{{an.valor}}</td>
								<td><button ng-click="selectAnalisis(an)" data-toggle="modal" data-target="#actualizarAnalisis" class="btn btn-xs  btn-info" data-toggle="collapse"><span class="glyphicon glyphicon-edit"></span></button></td>
								<td>{{an.UB * an.valor}}</td>
								<td><button ng-click="removeAnalisis($index)" class="btn btn-xs  btn-danger" data-toggle="collapse">Eliminar!</button></td>
							</tr>
								
						</tbody>
						<tr>
									<td><b>COSTO TOTAL PEDIDO</b></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td><b>{{calcularCostoPedido()}}</b></td>
							</tr>
					
					</table>
					
			</div>
 </div>
 
 <div class="modal fade" id="actualizarAnalisis" role="dialog" >
						<div class="modal-dialog">
						
						  <!-- Modal content-->
						  <div class="modal-content" ng-controller="analisisController">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title">Actualizar {{selectedAnalisis.determinaciones}}</h4>
							</div>
							<div class="modal-body">
						
							  U.B:<input type="text" class="form-control" ng-model="selectedAnalisis.UB"  aria-describedby="basic-addon2" />
							  Precio:<input type="text" class="form-control" ng-model="selectedAnalisis.valor"  aria-describedby="basic-addon2"/>

							</div>
							
							<div class="modal-footer">
							  <button type="button" ng-click="updateAnalisis(selectedAnalisis)" class="btn btn-info" data-dismiss="modal">Actualizar</button>
							  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
							</div>
						  </div>
						  
						</div>
				</div>
 
  <a href="#/pedidos-creados" type="submit" style="float:right" class="btn btn-primary" ng-click="createPedido()">Generar Pedido</a>
  
  
</form>
     
					
	</div>
	
</div>
</div>
