<div ng-include="'header.html'"></div>
<div class="container" ng-controller="perfilController">
	
	<div>
	<a href="#nuevo-perfil"><span class="btn btn-primary pull-right">Nuevo Perfil</span></a>
	<br/>
	</div>
	Filtrar: <input  class="form-control" placeholder="Ingrese el nombre del Perfil" type="text" ng-model="criterio"/> <br/>
	<table class="table table-striped " ng-init="getPerfils()">
		<thead>
				<td>#</td>
				<td>Perfil</td>
				
		</thead>
		<tbody ng-repeat="perfil in perfils | filter:criterio">
			<tr>
				<td>{{$index+1}}</td>
				<td>{{perfil.nombre}}</td>
				<!--<td><button class="btn btn-xs  btn-danger" ng-click="confirmDeleteMuestra(muestra)">Eliminar!</button></td>-->
				<td><button ng-click="#row($index)" class="btn btn-xs  btn-info" data-toggle="collapse" data-target="#row{{$index}}">Ver</button></td>
			</tr>
			<tr id="row{{$index}}" class="collapse">
			  <td colspan="12">
				<table class="table table-responsive"> 

				<tbody ng-repeat="analisis in perfil.analisisList">
					<tr>
						
						<td>{{analisis.analisis.codigo}}</td>
						<td>{{analisis.analisis.determinaciones}}</td>
								
					</tr>
				</tbody>
				</table>
					
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
